<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.Mapper.StudentMapper">
    <select id="getStudent1" resultMap="StudentTeacher1">
        select s.id sid,s.name sname,t.id,t.name
        from student s,teacher t
        where s.tid = t.id
    </select>
    <resultMap id="StudentTeacher1" type="com.feng.pojo.Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="com.feng.pojo.Teacher">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <select id="getStudent" resultMap="StudentTeacher">
        select * from student
    </select>
    <resultMap id="StudentTeacher" type="com.feng.pojo.Student">
        <association property="teacher" column="tid" javaType="com.feng.pojo.Teacher" select="getTeacher"/>
    </resultMap>
    <select id="getTeacher" resultType="com.feng.pojo.Teacher">
        select * from teacher
    </select>
</mapper>